@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ink: #141010;
  --color-paper: #F4F3F8;

  --color-violet-dark: #373358;
  --color-violet-mid: #494266;
  --color-violet-light: #8B8BAE;

  --color-teal-light: #5FAC9D;
  --color-teal-mid: #2D799F;

  --font-sans: "Montserrat", system-ui, sans-serif;
}

/*Reset & root*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  @apply bg-teal-mid text-paper;
}

html, body {
  font-size: 18px;
  line-height: 1.2;
}

html, body {
  @apply bg-paper dark:bg-violet-mid;
}

body, button, textarea {
  @apply font-sans dark:text-paper text-ink;
}
#root {
  min-height: 100vh;
}

#root:has(> .main-app) {
  display: grid;
  grid-template-rows: auto 1fr;
}

img {
  max-width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.main-app {
  @apply p-4 my-0 mx-auto max-w-2xl w-9/10
}