@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;

  --color-surface-base: hsl(var(--color-surface-base));
  --color-surface-muted: hsl(var(--color-surface-muted));
  --color-surface-strong: hsl(var(--color-surface-strong));
  --color-text-primary: hsl(var(--color-text-primary));
  --color-highlight: hsl(var(--color-highlight));
}

/* Variables */

:root {
  
}

/*Reset & root*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-surface-muted);
  color: var(--color-highlight);
}

html {
  --color-surface-base: #f4f4f5;
  --color-surface-muted: #e5e5e5;
  --color-surface-strong: #c7c7c7;
  --color-text-primary: #383a42;
  --color-highlight: #868686;
}

html.dark {
  --color-surface-base: #1e1e1e;
  --color-surface-muted: #3c3d3f;
  --color-surface-strong: #292929;
  --color-text-primary: #abb2bf;
  --color-highlight: #fffbeb;
}

body, button, textarea {
  /* color: var(--color-text-primary); */
  font-family: var(--font-sans);
}

html, body {
  background: var(--color-surface-base);
  font-size: 18px;
  line-height: 1;
  height: 100vh;
}

#root {
  min-height: 100vh;
}

/* Custom resets */

img {
  max-width: 100%;
}